{% extends 'basic.html' %} {% block title %} {{prod.name}}-my cart {% endblock%}
{% block body %}

<div class="container" id="productapp">
  {% if user == prod.user %}
  <button class="btn btn-outline-primary"><a href="/edit/{{prod.id}}/">EDIT</a> </button>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Delete
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content" style="background:none; border: 2px solid green;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are You Sure to delete {{p.name}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"><a href="/delete/{{prod.id}}/">Delete</a></button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-4 col-sm-8">
      <div class="row">
        <img src="{{prod.image.url}}" style="max-height:250px; max-width:250px;" />
      </div>
      <div class="row">
        <button class="btn btn-primary mx-2 my-3">Buy now</button>

        {% if prod.in_cart %}
        <p>Already In Cart</p>
        {% else %}
        {% if prod.available_quantity > 0 %}
        <button class="btn btn-primary mx-2 my-3" @click="addToCart({{prod.id}})">
          Add to Cart
        </button>
        {% else %}
        <p class="text-warning">Out Of Stock</p>
        {% endif %}
        {% endif %}
        <div class="alert alert-info alert-dismissible fade show" role="alert" v-if="showMeassage">
          <strong></strong>{{prod.name}} Has added to the cart.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 text-left">
      <h5>Product Name:{{prod.name}}</h5>
      <p>By: <a href="/session/otherprofile/{{prod.user.username}}/">{{prod.user.get_full_name}}</a> </p>
      <p><b>Price:Mrp Tk.</b>{{prod.price}} Only</p>
      <p>Details: {{prod.specifications}}</p>
      <p>District: {{prod.district}}</p>
      <p>SubDistrict: {{prod.subdistrict}}</p>
      <p>Category: {{prod.category}}</p>
      <p>Sub Category: {{prod.subcategory}}</p>
    </div>

  </div>
  {% if prod.variants.all or prod.parent.variants.all %}
  <h2>
    Variants Are given below</h2>
  {% endif %}
  <div class="row">
    {% for i in prod.parent.variants.all %}
    {% if i.id == prod.id %}
    <div class="col-md-4 text-white my-3">
      <a href="/prod/{{prod.parent.id}}/">
        <div class="media">
          <img src="{{prod.parent.image.url}}" style="max-width:200px;max-height:200px;" />
          <div class="media-body text-white">
            Name: {{prod.parent.name}}
          </div>
        </div>
      </a>
    </div>
    {% else %}
    <div class="col-md-4 my-3 text-white">
      <a href="/prod/{{i.id}}/">
        <div class="media">
          <img src="{{i.image.url}} " style="max-width:200px;max-height:200px;" />
          <div class="media-body text-white">
            Name: {{i.name}}
          </div>
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}

    {% for i in prod.variants.all %}
    <div class="col-md-4  my-3 text-white">
      <a href="/prod/{{i.id}}/">
        <div class="media">
          <img src="{{i.image.url}}" style="max-width:200px;max-height:200px;" />
          <div class="media-body text-white">
            Name: {{i.name}}
          </div>
        </div>
      </a>
    </div>
    {% endfor %}





  </div>
  {% if related_products %}
  <h1>Related Products</h1>
  {% with related_products as products %}
  {% include 'product/related.html' %}
  {% endwith %}
  {% endif %}
  <hr>





  <h2>Reviews({{prod.get_rating|floatformat:1}})</h2>
  <div class="row">
    {% for review in prod.reviews.all %}
    <div class="col-md-4 justify-content-left">
      <p>
        <strong>Date:</strong>{{review.date_added|date:"Y-m-d"}},
        <strong>Stars:</strong>{{review.stars}},
      <p>{{review.content}}</p>
      
          </div>
      {% empty %}

      Product Has No review
    {% endfor %}
  </div>




  <div class="container text-white">

    {% if request.user.is_authenticated %}
    <H1 class="text-white">Review Product</H1>
    <form action="." method="post">
      {% csrf_token %}
      <div class="row">

        <div class="col">
          <div class="form-group">
            <label>Stars</label>
            <div class="control">
              <div class="select">
                <select name="stars" id="">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3" selected>3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="content">Content</label>
            <div class="control">
              <textarea name="content" id="" cols="30" rows="10" class="textarea"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="control">
          <input type="submit" value="Submit" class="btn btn-sm">
        </div>
      </div>
    </form>
    {% else %}
    <p>Please Login to add review</p>
    {% endif %}
  </div>

  </p>


</div>


{% endblock %} {% block js %}
<script>
  var productapp = new Vue({
    el: "#productapp",
    delimiters: ["[[", "]]"],
    store: store,
    data() {
      return {
        showMeassage: false,
      };
    },
    mounted() {
      console.log("mounted");
    },
    methods: {
      addToCart(prod_id) {
        console.log("Product_ID:", prod_id);
        var data = { product_id: prod_id, update: false, quantity: 1 };
        fetch("/api_add_to_cart/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",
          },
          credentials: "same-origin",
          body: JSON.stringify(data),
        })
          .then((response) => {
            console.log(response);
            store.commit("increment", 1);
            this.showMeassage = true;
            setTimeout(() => {
              this.showMeassage = false
            }, 2000)
          })
          .catch(function (error) {
            console.log("error 2");
            console.log(error);
          });
      },
    },
  });
</script>
{% endblock %} {% comment %} .then((response)=> { if(result.error){
console.log('error 1'); throw result; } return result; }) {% endcomment %}