{% extends 'basic.html' %}

{% block body %}
{% load static %}

<div class="container">
  <div class="col-md-6 offset-md-3">
    <form action="/" method="post">
      {% csrf_token %}

      <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect01" name="district_i">
          <option value="{{dis}}">{{dis}}</option>
          {% for i in district %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect01">District</label>
        </div>
      </div>

      <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect03" name="category_i">
          <option value="{{cat}}">{{cat}}</option>
          {% for i in category %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect03">Category</label>
        </div>
      </div>
      <div class="input-group mb-3">
        
        <select class="custom-select" id="inputGroupSelect01" name="sorting">
          
          <option value="-timeStamp" {% if sorting == '-timeStamp' %}selected{% endif %}>Newest First</option>
          <option value="price"{% if sorting == 'price' %}selected{% endif %}>Price Low to High</option>
          <option value="-price"{% if sorting == '-price' %}selected{% endif %}>Price High to Low</option>
        </select>
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01" >Sort By</label>
        </div>
      </div>
      <div class=" row">
      <div class="col form-group">
        <label >Price From</label>
        <input type="number" class="form-control" name="price_from" value="{{price_from}}"></div>
      <div class="col form-group">
        <label >Price TO</label>
        <input type="number" class="form-control" name="price_to" value="{{price_to}}"></div>
      </div>
      
      <div class="form-check justify-content-left">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="inStock" {% if inStock %}checked="checked"{% endif %}>
        <label class="form-check-label" for="exampleCheck1">In Stock</label>
      </div>
      
  </div>
  <button class="btn btn-outline-info " type="submit" value="submit">Filter Products </button>
  </form>
</div>
</div>
{% if results %}
<div class="container-fluid" id="productapp">
  <h5 class="my-4">Flash Sale On -{{cat}}- Recommended Items in -{{dis}} </h5>
  <div class="row">
    {% comment %} <img src="{{product.0.image.url}}" alt=""> {% endcomment %}
    {% with results as products %}
{% include 'product/result.html' %}
{% endwith %}
  
  </div>
  {% endif %}



  <div class="container-fluid " id="productapp">
    <nav id="navbar-example3" class="navbar navbar-light ">
      
      {% comment %} <a class="navbar-brand" href="#">Scroll</a> {% endcomment %}
      <nav class="navbar fixed-bottom bg-white m-auto">

        {% for cat in category %}
        <a class="nav-link deactive" href="#{{cat.name}}">{{cat.name}}</a>
        {% endfor %}
      </nav>
    </nav>


    {% for product, range, nSlides in allProds %}
    <div class="heading" id="{{product.0.category}}">
  <h1>CATEGORY &emsp;: {{product.0.category}} &emsp;</h1>
</div>
<div class="alert alert-info alert-dismissible fade show" role="alert" v-if="showMeassage">
        <strong>Product has added to the cart.</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="row" >

      {% for i in product %}
      <div class="col ">
        
      <div class="swiper-slide">
        <div class="slider-box">
          <p class="time">New</p>
          <div class="img-box">
            <img src="{{i.image.url}}" />
          </div>
          <p class="detail text-dark">
            {{i.name}}
            <a href="#" class="price">Price-{{i.price}}Tk</a>
            <a class="price" href="/prod/{{i.id}}/">QuickView</a>
          </p>
          <div class="cart">
            {% if i.in_cart %}
            <a href="#">Already in Cart</a>
            {% else %} {% if i.available_quantity > 0 %}
            <a @click="addToCart({{i.id}})" href="#">Add To Cart</a>
            {% else %}
            <a href="#">Out of Stock</a>
            {% endif %} {% endif %}
          </div>
        </div>
      </div>

      
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

</div>
</div>















{% endblock %}
{% block js %}
<script>
  var productapp = new Vue({
    el: '#productapp',
    delimiters: ['[[', ']]'],
    store: store,
    data() {
      return {
        showMeassage: false,
      }
    },
    mounted() {
      console.log('mounted');
    },
    methods: {
      addToCart(prod_id) {
        console.log('Product_ID:', prod_id);

        var data = { 'product_id': prod_id, 'update': false, 'quantity': 1 };

        fetch('/api_add_to_cart/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          credentials: 'same-origin',
          body: JSON.stringify(data)

        })

          .then((response) => {
            console.log(response);
            store.commit('increment', 1);
            this.showMeassage = true;
            setTimeout(() => {
              this.showMeassage = false
            }, 2000)
          })
          .catch(function (error) {
            console.log('error 2');
            console.log(error);
          })
      }
    }
  })

</script>
{% endblock  %}