{% extends 'basic.html' %} {% block body %}
<div class="container text-white">
  <div class="col">
    <table class="table table-striped table-hover bg-secondary table-bordered" style="background:none;">
      <thead class="thead-dark">
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Order Adress</th>
        <th>Order Phone</th>
        <th>Order Place</th>
        <th>Order Zip_code</th>

        <th>Date Of Order</th>
        <th>Status</th>
        <th>Shipped_at</th>
        <th></th>
      </thead>
      <tbody>
        {% for i in items %}
        <tr>
          <td>
            {{i.product.name}}
          </td>
          <td>
            {{i.quantity}}
          </td>
          <td>{{i.price}}</td>
          <td>{{i.order.address}}</td>
          <td>{{i.order.phone}}</td>
          <td>{{i.order.place}}</td>
          <td>{{i.order.zipcode}}</td>

          <td>{{i.date_of_order}}</td>
          <td>{{i.status}}</td>
          <td>{{i.shipped_date}}</td>
          {% if i.status == "Ordered" %}
          <td>
            <button type="button" class="btn btn-outline-primary" >
              <a class="text-white" href="/ship/{{i.id}}/">Make It Shipped</a>
            </button>
          </td>
          {% endif %}
          {% if i.status == "Shipped" %}
          <td>
            <button type="button" class="btn btn-outline-primary" >
              <a class="text-white" href="/arrived/{{i.id}}/">Make It Arrived</a>
            </button>
          </td>
          {% endif %}
          
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock body %}