{% extends 'basic.html' %}

{% block title%} Add Product{% endblock %}
{% block body %}
{% if "Seller" in user.userprofile.category %}

{% load crispy_forms_tags %}
<div class="col-md-6 offset-md-3">
{% if pass %}
<h2 class="text-center">ADD More Variant Of This product Or </h2>
<button class="btn btn-outline-primary"><a href="/">Back TO Home</a></button>
{% endif %}
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group mx-auto">
                <legend class="border-bottom text-center mb-4"><h2>Add Your Product</h2></legend>
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-outline-info " type="submit" value="submit">Save </button>
            {% comment %} <input type="submit" value="Submit"> {% endcomment %}
        </form>


</div>
{% endif%}
{% endblock %}