{% extends 'basic.html' %}

{% block title%} User Profile{% endblock %}
{% block userprofile %} active{% endblock userprofile %}
{% block body %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<div class="col-md-6 offset-md-3">
    <div class="media">
        <img class="rounded-circle account-img my-2 mx-3 mr-3" src="{{u.userprofile.image.url}}" alt="...">
        <div class="media-body">
            <h5 class="mt-0">UserName:{{u.username}}</h5>
            Name: {{u.get_full_name}}
            <br>
            Email:{{u.email}}

            <br>
        </div>
    </div> 
    {% if u.userprofile %}
    <div class="ab">
    <b>
        <h3>
            <legend class="border-bottom mb-4">Other Information</legend>
        </h3>
    </b>
    <b>Address &nbsp;: </b> <i> {{u.userprofile.address}}</i> <br>
    <b>Phone&nbsp;&nbsp; &nbsp;: </b> <i> {{u.userprofile.phone}}</i> <br>
    <b>Category : </b> <i> {{u.userprofile.category}}</i> <br> <br>
    </div>
    {% endif %} <br><br> 
    </div>
{% else %}
<H1>Please Login To see details</H1>
{% endif %}

{% endblock %}
{% block css %}
div.ab {
height: auto;
width:100%;
color:white;
background: none;}
.media-body{
    color:white;
}
{% endblock  %}