{% extends 'basic.html' %}
{% load humanize %}
{% block title%} Your Profile{% endblock %}

{% block userprofile %} active{% endblock userprofile %}
{% block body %}
{% load static %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="col-md-8 offset-md-2">
        <nav class="navbar navbar-expand-lg navbar-light "
        style="background:none; color:white;">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style=" color:white;">Edit</span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item "><a class="nav-link" href="/session/changepass/">ChangePass</a></li>
                
                <li class="nav-item "><a class="nav-link" href="{% url 'updateprofile' %}"> Edit
                        Profile</a></li>
                
                
            </ul>
        </div>
    </nav>
    <br><br>
</div>
    <div class="col-md-12 ">
        <div class="row">
            <div class="col">

            
            <img class="rounded-circle account-img my-2 mx-3 mr-3" src="{{user.userprofile.image.url}}" alt="...">
        </div>

                
                <div class="col">
                <h5 class="mt-0">UserName:{{user.username}}</h5>
                Name: {{user.first_name}} {{user.last_name}}
                <br>
                Email:{{user.email}}
                <br>
                Blood Group: {{user.userprofile.blood_group}}
                <br>
            
            </div>
        </div>
    </div>


</div>
<div class="container-fluid  text-white">
<div class="row">
{% for i in orders %}
<div class="col-md-6">

<h3>{{i.created_at}} : {{i.status}}</h3>

<table class="table table-striped table-hover bg-secondary table-bordered " style="background:none;">
          <thead class="thead-dark">
            <th></th>
            <th>Product</th>
            <th>Owner</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Status</th>
            <th>Date Of Oder</th>
            <th>SHipped Date</th>
          
          </thead>
          <tbody>
          {% for j in i.items.all %}
            <tr >
              <td><img src="{{j.product.image.url}}" alt="" style="max-height:60px; max-width:60px;"></td>
              <td>{{j.product.name}}</td>
              <td>{{j.owner.get_full_name}}</td>
              <td>{{j.quantity}}</td>
              <td>{{j.price}}</td>
              <td>{{j.status}}</td>
              <td>{{j.date_of_order}}</td>
              <td>{{j.shipped_date}}</td>
            </tr>
            {% endfor %}
            
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td>Total:</td>
              <td>{{i.get_total_quantity}}-Piece</td>
              <td>{{i.paid_amount}}-Tk</td>
            </tr>
          </tfoot>
        </table>
        <hr>
        </div>
{% endfor %}
</div>

</div>




{% endif %}
{% endblock %}
{% block css %}
div.media-body {
height: auto;
width:100%;
color:white;
background: none;}

nav .navbar {
float:left;
}
nav .nav-link{
    float:left;
}

.col-md-12{
color:white;
}





{% endblock  %}